node_modules/
wp-config.php
.sass-cache/
wp-content/themes/elitecars/css/



wp-content/themes/elitecars/css/maps/style.css.map
wp-content/themes/elitecars/css/maps/style.css.map
wp-content/themes/elitecars/css/style.css
wp-content/themes/elitecars/css/style.css.map
*.php
