ul.inline {
	padding: 0;
	margin: 0;
	list-style-type: none;	
	&:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0; 
	}

	& > li {
		float: left;
		&:last-child {
			margin-right: 0px;
		}
	}
}

a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

a.e_button, button.e_button {
	background-color: #c30000;
	border-radius: 0px;
	color: #fff;
}

button, select {
	width: 100%;
	padding: 7px;
	font-size: 16px;
	outline: none;
	border: 1px solid rgba(0,0,0,0.3);
}

#menu-bg.active {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0,0,0,0.8);

	z-index: 998;
}

.down {
	float: right;
	margin-left: 7px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

header#masthead {
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.1);
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 50%, #000 50%);
    transition: background-position 0.3s;

    z-index: 9999;

	&:hover, &.active {
		background-position: 0 -100%;
	}

	.container {
		
		&:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0; 
		}
		.logo {
			height: 90px;
			display: flex;
	  		align-items: center;
			float: left;
			a {

				img {
					max-width: 60px;
				}
			}
		}

		.menu {
			float: right;
			.mobile-view-header {
				display: none;
			}
			.menu-the-main-menu-container {
				
				& > ul {
					
					& > li {
						height: 90px;
						display: flex;
  						align-items: center;
						margin-right: 20px;
						position: relative;

						&:hover {
							& > .sub-menu {
								opacity: 1;
								visibility: visible;
								& > li:hover {
									& > .sub-menu {
										opacity: 1;
										visibility: visible;
									}
								}								
							}
						}

						& > a {
							display: block;
							padding: 15px 2px;
							color: #fff;
							font-size: 18px;
							border-bottom: 3px solid transparent;
							transition: all 0.4s ease;

							&:hover {
								border-color: #fff;
							}
						}

						.sub-menu {
							width: 200px;
							position: absolute;
							padding: 0px;
							margin: 0px;
							list-style-type: none;

							background-color: rgba(0,0,0,0.5);
							border: 1px solid rgba(0,0,0,0.5);

							opacity: 0;
							visibility: hidden;

							transition: all 0.4s ease;
						}

						& > .sub-menu {

							top: 100%;
							right: 0;

							& > li {
								position: relative;

								& > a {
									display: block;
									color: #fff;
									font-size: 18px;
									padding: 10px 20px;
								}

								& > .sub-menu {
									top: 0;
									right: 100%;

									& > li {
										& > a {
											display: block;
											color: #fff;
											font-size: 18px;
											padding: 10px 20px;
										}
									}
								}
							}
						}
					}
				}	
			}

			&.mobile-view {
				float: none;
				position: fixed;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: #3c3c3c;

				z-index: 9999;

				visibility: hidden;
				opacity: 0;
				width: 0px;

				transition: width 0.3s ease;

				overflow-y: scroll;

				&.show {
					visibility: visible;
					opacity: 1;
					width: 280px;
				}

				.mobile-view-header {
					display: block;
					height: 50px;
					width: 100%;
					background-color: #4f4f4f;
					position: relative;
					border-bottom: 1px solid rgba(0,0,0,0.3);

					.fa {
						position: absolute;
						top: 12px;
						right: 15px;

						font-size: 26px;
						color: #fff;
					}
				}

				.menu-the-main-menu-container {
					& > ul {
						float: none;

						& > li {
							float: none;
							height: auto;
							margin: 0;
							display: block;

							border-bottom: 1px solid rgba(0,0,0,0.3);

							& > a {
								width: 100%;
								padding: 10px 20px;
								border: 0px;
								

								&:after {
									content: ".";
									display: block;
									clear: both;
									visibility: hidden;
									line-height: 0;
									height: 0; 
								}

								&:hover {
									border-color: #fff;
								}
							}

							.sub-menu {
								width: 100%;
								position: relative;

								background-color: rgba(0,0,0,0.5);
								border: 0px;

								opacity: 0;
								visibility: hidden;
								max-height: 0;

								transition-property: all;
								transition-duration: 0.3s;
								transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

								&.expand {
									opacity: 1;
									visibility: visible;
									max-height: 500px;
								}
							}

							& > .sub-menu {
								top: auto;
								right: auto;

								& > li {
									& > a {
										&:after {
											content: ".";
											display: block;
											clear: both;
											visibility: hidden;
											line-height: 0;
											height: 0; 
										}
									}

									& > .sub-menu {
										top: auto;
										right: auto;
										& > li {
											& > a {
												width: 100%;
												padding: 10px 30px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			
		}

		.mobile-button {
			float: right;
			display: none;

			& > div {
				height: 90px;
				display: flex;
				align-items: center;

				& > div {
					.fa {
						color: #fff;
						font-size: 26px;
					}
				}
			}
		}

		/* .menu-buttons {
			float: right;

			& > ul {
				& > li {
					height: 90px;
					display: flex;
					align-items: center;	
				}				
			}
		} */
	}
}

#content.site-content {
	padding: 0px;
}

.slider {
	position: relative;

	.frame {
		position: absolute;
		border: 1px solid #DC3746;
		top: 130px;
		left: 50px;
		right: 50px;
		bottom: 0;

		border-bottom: 0px;
	}

	.search_stock {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.5);

		.container-fluid {
			max-width: 1140px;
			margin: 0 auto;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 30px;
			padding-bottom: 30px;

			.header {
				color: #fff;
				font-size: 24px;
				padding: 10px;
			}

			.row {				
				margin-left: 0px;
				margin-right: 0px;
				margin-bottom: -20px;
				[class^="col-"] {
					padding-left: 10px;
					padding-right: 10px;
					margin-bottom: 20px;
				}
			}
		}
	}
}

.section {
	width: 100%;
	padding: 80px 5px;

	&.bg_section {
		background-color: #f9f9f9;
	}
	.header {
		margin-bottom: 20px;
		span{
			display: block;
		}
		span:first-child {
			font-size: 30px;
			margin-right: 30px;
			text-transform: uppercase;
			font-family: 'Roboto Condensed', sans-serif;
			color: #222222;
			line-height: 1;
		}
		span:nth-child(2) {
			color: #b9b9b9;
		}
	}
}

.car_tiles_row {
	margin-bottom: -10px;

	&.row {
	margin-right: -5px;
 	margin-left: -5px;

		> .col,
		> [class*="col-"] {
			padding-right: 5px;
			padding-left: 5px;
		}
	}

	.car_tile {
		padding: 25px;
		background-color: #fff;
		margin-bottom: 10px;

		& > .title {
			& > div {
				display: block;
				width: 100%;
				line-height: 1;
			}
			& > div:first-child {
				font-family: 'Roboto Condensed', sans-serif;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 20px;
				margin-bottom: 5px;
			}
			& > div:nth-child(2) {
				font-size: 16px;
				font-family: 'Open Sans', sans-serif;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
		}

		.price {
			text-align: left;
			font-size: 25px;
			line-height: 1;
			font-family: 'Roboto Condensed', sans-serif;
		}

		.car {
			position: relative;
			height: 130px;

			img {
				position: absolute;
				right: 0px;
				bottom: 0px;

				transition: all 0.5s ease;

				&:first-child {
					width: 90%;
				}
				&:nth-child(2) {
					width: 45%;
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		&:hover {
			.car {
				img {
					&:first-child {
						opacity: 0;
						visibility: hidden;
					}
					&:nth-child(2) {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

.welcome {
	height: 400px;
	background-image: url('../img/bg-one.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
}

.monthly_stock {
	.filter {
		margin-bottom: 20px;
		ul {
			li {
				margin-right: 2px;
				padding: 2px 15px;
				font-size: 18px;
				border: 1px solid transparent;
				cursor: pointer;

				&.active {
					border-color: #222222;
				}
				&:hover {
					border-color: #222222;
				}
			}
		}
	}
	.deal_cars {
		.row {
			margin-bottom: -30px;
			& > [class^="col-"] {
				padding-bottom: 30px;
			}
		}
		.deal_car {
			padding: 20px;
			position: relative;

			.selection {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(225,225,225,0.3);

				opacity: 0;
				visibility: hidden;

				transition: all 0.3s ease;

				display: flex;
				align-items: center;
				justify-content: center;

				span {
					font-family: 'Roboto Condensed', sans-serif;
					font-size: 18px;
					background-color: #000;
					color: #fff;
					display: inline-block;
					padding: 8px 12px 5px 12px;
					line-height: 1;
				}
			}

			&:hover {
				.selection {
					opacity: 1;
					visibility: visible;
					cursor: pointer;
				}
			}

			.title {
				text-align: center;
				line-height: 1.5em;
				font-size: 14px;
				font-family: 'Open Sans', sans-serif;
			}

			.price {
				text-align: center;
				span {
					font-family: 'Roboto Condensed', sans-serif;
					font-size: 25px;
				}				
			}
		}
	}
}

.blogs {
	width: 100%;
	.blog {
		.img-box {
			height: 350px;
			width: 100%;
		}
	}
}

@media only screen and (max-width: 992px) {
	header#masthead {
		.container {
			position: relative;
			max-width: 100%;
			padding-left: 30px;
			padding-right: 30px;
			/* .logo {
				float: none;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			} */

			.mobile-button {
				display: block;
			}

			/* .menu {
				display: none;
			} */

			/* .menu-buttons {
				float: left;
			} */
		}
	}
}